@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("gymbg1.png");
    background-size: cover; 
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}

.centered {

    text-align: center;
    display: flex;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}
#calendar {
    font-family: Arial, sans-serif;
    position: absolute;
    left: 30%; /* Position 30% from the left */
    transform: translateX(-50%); /* Move back by 50% of its own width */
    width: 200px;
}

#CalendarSection {
    text-align: center; /* Center the content horizontally */
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 60px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fff;
}

td:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
#CalendarSection {
    text-align: center; /* Center the content horizontally */
}

input, select {
    text-align: center;
    width: 200px;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.title {

    background-color:aliceblue;
    margin-top: 10px;
    width: 4;
    text-align: center;
}
.input {
    width: 275px; 
    height: 40px; 
}
.child {

    background-color:aliceblue;
    padding: 2rem 2rem;
    vertical-align: middle;
  }
form {
    max-width: 600px;
    margin-top: 20px auto;
    padding: 40px;
}
button {
    background-color: green;
    color: white;
    padding: 15px;
}

button:hover {
    background-color: green;
}