* {box-sizing:border-box;}

/* html {
    padding-left: 20px;
    padding-right: 20px;
} */

html:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
   
    background-size: cover; /* Ensure the image covers the entire background */
    width: 100%;
    height: 100%;
    z-index: -1;
}


.sections-container {
    /* border: 1px solid red; */
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .section-container {
    width: 20%;
    height: auto;
    background-color: #B2CBF2;
    border-radius: 3%;
    position: relative;
    margin: 2%;
    border: 1px solid blue;
    padding: 1%;
  }
  
  .section-container input{
    width:80%;
  }
  
  form {
    max-width: auto;
    margin-top: 10%;
    /* padding: 40px; */
  }
  
  .form-button {
    margin-top:5%;
    padding: 12px 16px; 
    font-size: 18px; 
    background-color: rgb(84, 127, 142); 
    color: #fff; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  } 
  
  .reminder-button {
    margin-top:15%;
    padding: 12px 16px; 
    font-size: 18px; 
    background-color: rgb(84, 127, 142); 
    color: #fff; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  } 
  
  .form-button:hover { 
    background-color: blue; 
  } 
  
  .reminder-button:hover { 
    background-color: blue; 
  } 
  

.bg-img {
    z-index: -10;
    background-image: url("gym-bg.png");
    filter: blur(5px); -webkit-filter: blur(5px);
    height: 40vh;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-banner {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 30px;
    border: 3px solid blue;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
    
}



.row::after {content:""; clear:both; display:table;}

#progress-container {
    width: 200px;
    height: 200px;
    position: relative;
}
#progress-circle {
    stroke: #1e67ee;
    fill: none;
    stroke-width: 10; /* Thickness of the progress bar */
    stroke-dasharray: 440; /* Circumference of a circle with radius 70 (2 * pi * 70) */
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.5s ease;}
    
#progress-text {
    size: 20px;
}

#calendar {
    font-family: Arial, sans-serif;
    position: absolute;
    left: 30%; /* Position 30% from the left */
    transform: translateX(-50%); /* Move back by 50% of its own width */
    width: 200px;
}

#CalendarSection {
    text-align: center; /* Center the content horizontally */
}



    
#Income\ Section,
#Expense\ Section {
    background-color: #B2CBF2; /* White background */
    border: 2px solid #000; /* Black border */
    padding: 20px; /* Add padding to the sections */
    margin-top: 20px; /* Add margin to separate sections */
    width: 30%; /* Set width to 80% */
    margin-left: auto; /* Center the sections */
    margin-right: auto; /* Center the sections */
    border-radius: 6%;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 60px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fff;
}

td:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

header {
    font-size: 150%;
}

h1 {
    margin-top: 50px;
    /* font-style: italic;  */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.centered {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

input, select {
    text-align: center;
    width: 40%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    background-color: rgb(84, 127, 142);;
    color: white;
    padding: 15px;
    border-radius: 6%;
}

button:hover {
    background-color: blue;
}

