* {box-sizing:border-box;}
html{
    padding: 10px;
}

html:after {
    content : "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("images/Baltimore-Skyline-2018.jpg"); 
    width: 100%;
    height: 100%;
    opacity : 0.3;
    z-index: -1;
}



.row::after {content:""; clear:both; display:table;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 20px;
}


@media (min-width: 992px)
{
    header {
        text-align: center;
        font-size: 50px;
        font-style: italic;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .text1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        text-align: justify;
    }
    .bodytext{
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        text-align: center;
        color: blue;
    }
    
    .bodytext2{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        color: green;
    }
    
    .text2{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: justify;
    }
    
    #titles{
        font-family: 'Times New Roman', Times, serif;
        font-size: 35px;
        font-style: italic;
        color: red;
    }
    #headers{
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        font-style: italic bold;
        color: Brown;
    }
}



@media (min-width: 768px) and (max-width: 991px)
{
    .col-3, .col-6 {
        width: 100%;
    }
    
    header {
        text-align: center;
        font-size: 30px;
        font-style: italic;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .image{
        display: none;
    }
    
    .text1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: justify;
    }
    .bodytext{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: center;
        color: green;
    }

    .bodytext2{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        color: red;
    }
    
    .text2{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: justify;
    }
    
    #titles{
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        font-style: italic;
        color: brown;
    }
    #headers{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        font-style: italic bold;
        color: blue;
    }
    
    
    body{background-color: rgb(182, 182, 161);}
}

@media (min-width: 1px) and (max-width: 767px)
{
    .col-3, .col-6 {
        width: 100%;
    }
    header {
        text-align: center;
        font-size: 25px;
        font-style: italic;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .image{
        display: none;
    }
    
    .text1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
        text-align: justify;
    }
    .bodytext{
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
        text-align: center;
        color: red;
    }
    
    .bodytext2{
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
        color: brown;
    }
    
    .text2{
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
        text-align: justify;
    }
    
    #titles{
        font-family: 'Times New Roman', Times, serif;
        font-size: 23px;
        font-style: italic;
        color: blue;
    }
    #headers{
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
        font-style: italic bold;
        color: green;
    }
    
    body{background-color: rgb(159, 255, 255);}
}