* {box-sizing:border-box;}
html{
    padding: 10px;
}

html:after {
    content : "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("images/Baltimore-Skyline-2018.jpg"); 
    width: 100%;
    height: 100%;
    opacity : 0.3;
    z-index: -1;
}

header {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 20px;
    text-align: center;
}

a{
    font-size: 20px;
    text-align: center;
}